body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.upload-box input {
    margin-bottom: 15px;
}

button {
    background: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #c62828;
}

#status {
    margin-top: 15px;
    color: #555;
}

/* index file ke liye */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(180deg, #f8f9ff, #eef1ff);
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  background: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
.logo span {
  color: #6c63ff;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
}

.nav-btns button {
  margin-left: 10px;
}

/* BUTTONS */
.btn-primary {
  background: linear-gradient(45deg, #6c63ff, #8a7cff);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.tool-tags span {
  background: #fff;
  padding: 8px 14px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
  font-size: 14px;
}

.hero h1 {
  font-size: 42px;
  margin: 20px 0;
}

.hero p {
  max-width: 700px;
  margin: auto;
  color: #666;
}

.hero-buttons {
  margin-top: 25px;
}

/* TOOLS */
.tools {
  padding: 60px 50px;
}

.tools h2 {
  text-align: center;
  margin-bottom: 30px;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.tool-card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.tool-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
